# Ignora todo el contenido de los directorios, pero incluye los directorios mismos
/configs/*
!/configs/.gitkeep
/dbdata/*
!/dbdata/.gitkeep
/www/*
!/www/.gitkeep

# Ignora los archivos específicos
docker-compose.yml
.env
!.gitignore
!docker-compose.ymlBAK
!.envBAK
