# Ignora todo el contenido de los directorios, pero incluye los directorios mismos
!/configs/mysql/my.cnfBAK
!/configs/mysql/logs/.gitkeep
/configs/mysql/my.cnf

/configs/nginx/*
!/configs/nginx/default.conf
!/configs/nginx/logs/
/configs/nginx/logs/*
!/configs/nginx/logs/.gitkeep

!/configs/php/php.iniBAK
!/configs/php/logs/.gitkeep
/configs/php/php.ini
!/configs/.gitkeep
/dbdata/*
!/dbdata/.gitkeep
/www/*
!/www/.gitkeep

# Ignora los archivos específicos
docker-compose.yml
.env
!.gitignore
!docker-compose.ymlBAK
!.envBAK
