# Ignora todo el contenido de los directorios, pero incluye los directorios mismos
!/configs/mysql/
/configs/mysql/*
!/configs/mysql/logs/
/configs/mysql/logs/*
!/configs/mysql/logs/.gitkeep

!/configs/nginx/
/configs/nginx/*
!/configs/nginx/logs/
/configs/nginx/logs/*
!/configs/nginx/logs/.gitkeep

!/configs/php/
/configs/php/*
!/configs/php/logs/
/configs/php/logs/*
!/configs/php/logs/.gitkeep

# Ignora los archivos específicos
/configs/mysql/my.cnf
/configs/nginx/default.conf
/configs/php/php.ini

/dbdata/*
!/dbdata/.gitkeep

/www/*
!/www/.gitkeep

# Ignora los archivos específicos
docker-compose.yml
.env
!.gitignore
!docker-compose.ymlBAK
!.envBAK
